/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* Custom CSS overriding bootstrap fixong top-navbar and body padding issue */
@media (min-width: 980px){
      body {
        padding-top:60px;
      }
    }
a { 
text-decoration: none;
}
 
.header-image {
  width: 100%;
}
.hero-unit {
  position: relative;
  padding: 0;
}
.header-welcome-message {
  position: absolute;
  margin-top: -10%;
}

.header-welcome-message img {
-webkit-transform: rotate(-25deg);
-ms-transform: rotate(-25deg);
transform: rotate(-25deg);
-webkit-transition-property: all;
-ms-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
transition-duration: 0.4s;
}

.header-welcome-message img:hover{


-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition-property: all;
-ms-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
transition-duration: 0.4s;
cursor: pointer;
}


@media (max-width: 768px) {
  .header-welcome-message {
    position: relative;
  }
}